<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Flashcards</title>
    <link rel="stylesheet" href="style.css"/>
    <script defer src="script.js"></script>
  </head>
  <body>
    <nav class="nav-bar" id="nav-bar">
      <a href="Landing_Page.html" target="_blank"><img src="/imgs/logo2.png" alt="Flashcards Logo" class="logo"/></a>
      <a href="Dashboard_Page.html" class="home">Home</a>
      <!-- <ul class="nav-links">
        <li>
          <a type="button" href="Create_Flashcards.html" class="create_flashcards" target="_blank">
            Create Flashcards
          </a>
        </li>
      </ul> -->
    </nav>

    <div class="create-flashcards-container">
        <p class="create-flashcards-title">Create New Flashcard</p>
    </div>

    <div class="flashcard-form">
      <form id="my-form" action="/create_flashcard" method="POST">
          <div class="flashcard-title">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Enter title" required/>
          </div>
          
          <div class="flashcard-inputs">
              <!-- Front -->
              <div class="front-inputs">
                  <label for="front">Front</label>
                  <input required id="front" name="front" rows="1" placeholder="Add here..."/>
              </div>
              
              <!-- Back -->
              <div class="back-inputs">
                  <label for="back">Back</label>
                  <input required id="back" name="back" rows="1" placeholder="Add here..."/>
                  
                  <div class="audio">
                    <button type="button" class="add-audio-bttn">Add Audio</button>
                      <input id="audio-input" name="audio" type="file" accept="audio/*"/>
                  </div>
              </div>
          </div>


        <div class="add-another-card-container">
          <button type="button" class="add-card-bttn">Add Card</button>
        </div>
        
        <div class="form-actions">
          <button type="button" class="cancel-bttn">Cancel</button>
          <button type="submit" class="create-bttn">Create</button>
        </div>
      </form>
    </div>

    

    
    
  </body>
</html>