<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flashcards</title>
    <link rel="stylesheet" href="style.css"/>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
    </style>
  </head>
  <body>

    <nav class="nav-bar">
      <a href="/Landing_Page.html"><img src="/imgs/logo2.png" alt="Flashcards Logo" class="logo"/></a>
      
      <!-- <a href="Landing_Page.html" class="home">Home</a> -->

      <ul class="nav-links">
        <li>
          <a type="button" href="Create_Flashcards.html" class="create_flashcards" target="_blank">
            Create Flashcards
          </a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <h3>Think. Add. Create</h3>
      <div class="button-temp">
        <a type="button" class="bttn" href="Create_Flashcards.html" target="_blank">Create Flashcards</a>
      </div>
    </div>

  </body>
</html>